.grok {
    display: flex;
    position: fixed;
    border: 0.5px rgba(255, 255, 255, 0.3) solid;
    border-radius: 15px;
    box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(12px);
    bottom: 20px;
    right: 20px;
    width: 50px;
    height: 50px;
    z-index: 9999;
    justify-content: center;
    align-items: center;
}
.grok-svg {
    fill: white;
    width: 33px;
    height: 32px;
}